<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Projekt{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('proj') }}
        {% endblock %}

        {#{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}#}
    </head>
    <body>
        <header class="proj-site-header" style="background-image: url({{ asset('img/leaves.png') }})">
            <span class="proj-site-title">Adventurey Game</span>
        </header>

        <nav class="proj-navbar">
            <ul>
                <li><a href="{{ path('start') }}">Home</a></li>
                <li><a href="{{ path('proj_about') }}">About</a></li>
                <li><a href="{{ path('proj_home')}}">Projekt</a></li>
        </nav>

        <main>{% block body %}{% endblock %}</main>

        <footer>{% block footer %}©2025 Gilmore Girls S3 A9 "A Deep-Fried Korean Thanksgiving" {% endblock %}</footer>
    </body>
</html>
