{% extends "proj/base.html.twig" %}

{% block title %}Stars Hollow{% endblock %}

{% block body %}
    <div class="two-col-layout">
        <main class="proj-main">
            <h1>Gilmore Girls</h1>

            <h2 id="kmom02">Schedule</h2>
            <p>"Lane's is always superearly so that's easy to catch"<b>(Mrs Kim</b>), <b>Sookie's</b> is midafternoon." "We've to go to my parent's
            or be brought up on war crimes". 
            <b>"Luke's</b> the toughie". We can squees him in between Sookie and <b>Emily and Richard</b>.
            </p>

            {% if message %}
                <div class="alert">{{ message }}</div>
            {% endif %}

            <div class="town-map" style="background-image: url('{{ asset('img/town.png') }}');">
                {% for room in rooms %}
                        <a href="{{ path('proj_room', {'stage': room.stage}) }}"
                        class="house"
                        style="top: {{ room.top }}%; left: {{ room.left }}%;">
                            <img src="{{ asset('img/' ~ room.symbol) }}" alt="{{ room.name }}">
                        </a>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}