{% extends "proj/base.html.twig" %}

{% block title %}Stars Hollow{% endblock %}

{% block body %}
    <div class="two-col-layout">
        <main class="proj-main">
            <h1>Thanksgiving</h1>

            {% if message %}
                <div class="alert">{{ message }}</div>
            {% endif %}

            <div class="town-map" style="background-image: url('{{ asset('img/town.png') }}');">
                {% for room in rooms %}
                        <a href="{{ path('proj_room', {'stage': room.stage}) }}"
                        class="house"
                        style="top: {{ room.top }}%; left: {{ room.left }}%;">
                            <img src="{{ asset('img/' ~ room.symbol) }}" alt="{{ room.name }}">
                        </a>
                {% endfor %}
            </div>
            {% include 'proj/inventory.html.twig' with {'player': player} %}
        </main>
    </div>
{% endblock %}