{% extends "base.html.twig" %}

{% block title %}Deck Of Cards{% endblock %}

{% block body %}
<div class="two-col-layout">
            <aside class="aside">
                <div class="">
                    <h2> Meny</h2>
                        <ul>
                            <li><a href="{{ path('card') }}">Landing page</li>
                            <li><a href="{{ path('deck') }}">Deck</li>
                            <li><a href="{{ path('joker') }}">Joker</li>
                            <li><a href="{{ path('shuffle') }}">Shuffles</li>
                            <li><a href="{{ path('draw') }}">Draw</a></li>
                            <li><a href="{{ path('draw_many', {num: 2}) }}">Draw many</a></li>
                            <li><a href="{{ path('reset') }}">Reset</a></li>
                        </ul>
                </div>
            </aside>

    <main class="main">
        <h1>Deck</h1>

        <p>Here is the deck sort in color and value.</p>

            {% for card in deck %}
                {% if '♥' in card %}
                    <div class="red">
                        {{card}}
                    </div>

                {% elseif '♦️' in card %}
                    <div class="red">
                        {{card}}
                    </div>

                {% else %}
                    <div>
                        {{card}}
                    </div>
                {% endif %}
            {%endfor%}
    </main>
</div>
{% endblock %}
