{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<h1>Card</h1>

    <p>class: DeckOfcards<br>
            DeckJoker<br>
            Card<br>
            I klassen DeckOfCard har jag en array med kortlekn och 채ven en komposition av Card klassen.
            DeckJoker klassen 채rver fr책n DeckOfCards klassen och l채gger till tre stycken jokrar.</p>

    <a href="{{ asset('img/uml_card.png') }}">
        <img src="{{ asset('img/uml_card.png') }}" alt="">
    </a>

<ul>
    {# <li><a href="{{ path('card') }}">Landing page</li> #}
    <li><a href="{{ path('deck') }}">Deck</li>
    <li><a href="{{ path('joker') }}">Joker</li>
    <li><a href="{{ path('shuffle') }}">Shuffle</li>
    <li><a href="{{ path('draw') }}">Draw one card</li>
    <li><a href="{{ path('draw_many', {num: 2}) }}">Draw many cards</li>
    <li><a href="{{ path('reset') }}">Reset</li>
</ul>

{% endblock %}
