{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<h1>Card</h1>


<ul>
    {# <li><a href="{{ path('card') }}">Landing page</li> #}
    <li><a href="{{ path('deck') }}">Deck</li>
    <li><a href="{{ path('joker') }}">Joker</li>
    <li><a href="{{ path('shuffle') }}">Shuffle</li>
    <li><a href="{{ path('draw') }}">Draw one card</li>
    <li><a href="{{ path('draw_many', {num: 2}) }}">Draw many cards</li>
    <li><a href="{{ path('reset') }}">Reset</li>
</ul>

{% endblock %}
