{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<h1>Card game</h1>


<ul>
    {# <li><a href="{{ path('card') }}">Landing page</li> #}
    <li><a href="{{ path('deck') }}">Deck</li>
    <li><a href="{{ path('shuffle') }}">Shuffle</li>
    <li><a href="{{ path('draw') }}">Draw one card</li>
    {# <li><a href="{{ path('draw_many') }}">Draw many cards</li> #}
    <li><a href="{{ path('card_init_get') }}">Game Card Start</li>
</ul>

{% endblock %}
