{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<style>
        .form-wrapper {
            max-width: 600px;
            margin: 2rem auto;
            padding: 2rem;
            background-color:rgba(250, 235, 243, 0.28);
            border-radius: 10px;
            box-shadow: 0 4px 10px #FDDAE5;
            font-family: sans-serif;
        }

        .form-wrapper h1 {
            text-align: center;
            margin-bottom: 2rem;
            color: #333;
        }

        .form-wrapper label {
            font-weight: bold;
            margin-top: 1rem;
            display: block;
        }

        .form-wrapper input[type="text"],
        .form-wrapper input[type="file"],
        .form-wrapper textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-wrapper button {
            margin-top: 1.5rem;
            width: 100%;
            padding: 10px;
            background-color:#D67789;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
        }

        .form-wrapper button:hover {
            background-color: #F85176;
        }
    </style>

<div class="form-wrapper">
    <h1>Update book: {{ book.title }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.ISBN) }}
        {{ form_row(form.author) }}
        {{ form_row(form.imageFile) }}
        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}
</div>
{% endblock %}